@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Roboto, serif;
  color : white;
  background: linear-gradient(to right, #24713D 0%, #2A8447 50%, #1F6335 100%);
}

@media (max-width: 767px){
  body {
    background: radial-gradient(ellipse 250% 100%  at center bottom, #259448 65%, #24703E 50%);
    height: 100vh;

  }
}

